body {
    font-size: 16px;
    font-family: be';
}

h1{
    font-size: 52px;
    
}
h2{
    font-size: 44px;
}
h3{
    font-size: 40px;
}
h4{
    font-size: 36px;
}
h5{
    font-size: 24px;
}
h6{
    font-size: 20px;
}